.header {
    height: 64px;
    width: 100%;
    background-color: #4A90E2;
    display: flex;
    align-items: center;
}

.header .content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header .profile {
    font-weight: bold;
    font-size: 15px;
    color: #fff;
}